---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="text-white p-4">
	<nav class="flex items-center justify-between align-middle">
		<a class="text-xl" href="/">{SITE_TITLE}</a>
		<div class="flex-1 text-end mr-6">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="social-links">
      <a href="https://bsky.app/profile/sampleuser.com" target="_blank">
        <span class="sr-only">Follow me on Bluesky</span>
        <img src="/images/social-bluesky-logo.svg" alt="bsky"/>
      </a>
      <a href="https://bsky.app/profile/sampleuser.com" target="_blank">
        <span class="sr-only">Follow me on Bluesky</span>
        <img src="/images/social-github-logo.svg" alt="github"/>
      </a>
    </div>
	</nav>
</header>
<style>
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
  }
  .social-links img {
    height: 18px;
    width: 18px;
    filter: invert(.9);
  }
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
